@import url(fontawesome-all.min.css);
@import url("https://fonts.googleapis.com/css?family=Roboto:300,700,300italic,700italic");

header, body, input, select, textarea {
  color: #ffffff;
  font-family: "Roboto", Helvetica, sans-serif;
  font-weight: 300;
  font-size: 1em;
  line-height: 2;
}

header {
  display: flex;
  border-radius: 1rem;
  background-image: linear-gradient(to right, #F5E663, #D44D5C);
  width: 90%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(#23395B, #161925);
  color: #f1f7ff;
  align-items: center;
  justify-content: center;
}

.card {
  color: #121118;
  display: flex;
  margin: 1rem;
  justify-content: center;

  font-family: inherit;
  border-radius: 1rem;
  background-color: #F7ECE1;
  box-shadow: 0.5rem 1rem 1rem #121118;
  text-align: center;
}

#user-info-card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.graph-container {
  border-top-right-radius: 1rem !important;
  border-bottom-right-radius: 1rem !important;
  width: 100% !important;
}

.card-image {
  grid-area: image;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../img/luke-chesser.jpg);
  background-position: cover;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  background-size: cover;
  width: 50%;
}

.right {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-top-right-radius: 1rem !important;
  border-bottom-right-radius: 1rem !important;
}

.card-text{
  grid-area: text;
  overflow: auto;
  width: 50%;
}

.card-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.category {
  width: 90%
}
